

h1 {
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




h2 {
    text-align: center;
}
 
input{
    border-color: aqua;
}




p{
    text-align: center;

}


#highlight{
    color:black;
    background-color: yellow;
    font-size: 20px;
    margin: 10px;
    padding: 0px;
}


.strikethrough{
            text-decoration: line-through;
        }


.content{
    text-align: right;
    font-size: 18px;
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.header{
    background-color: black;
    text-align: center;
}


.foot{
    background-color: black;
    color: bisque;
    margin: 30px;
    padding: 0px;
}



