/* Face Styles */
    #face-container {
      background-color: #FFFF00;
      width: 100%;
      height: 100vh;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }

    .eyes-section {
      display: flex;
      gap: 140px;
      width: 100%;
      justify-content: center;
    }

    .eye {
      background-color: #FFFFFF;
      width: 140px;
      height: 200px;
      position: absolute;
      top: 200px;
      left: 300px;
      border: 4px solid #FFFFFF;
  
      align-items: center;
      justify-content: center;
      padding: 30px;
      box-sizing: border-box;
      position: relative;
      top: -30px;
      left: 0px;
    }

    .pupil {
      background-color: #000000;
      width: 60px;
      height: 70px;
   
      position: absolute;
      top: 10px;
      left: 15px;
    }

    .mouth-section {
      background-color: #000000;
      width: 300px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      position: relative;
    }

    .mouth-section::after {
      content: '';
      position: absolute;
      width: 60px;
      height: 50%;
      background-color: #000000;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      z-index: 1;
    }

    .teeth-row {
      display: flex;
      gap: 10px;
      width: 100%;
      justify-content: center;
      padding: 10px 0;
      order: -1;
      position: relative;
      z-index: 5;
    }

    .tooth {
      background-color: #FFFFFF;
      width: 20px;
      height: 40px;
      margin: 10;
      padding: 10p;
    }

    .mouth {
      background-color: #FF0000;
      width: 100px;
      height: 80px;
      position: relative;
      margin-top: 10px;
      z-index: 1;
    }