body{
background-color: bisque;
text-align: center;
font-family: 'Times New Roman', Times, serif;
}

h1{
    text-decoration: underline;
border: dotted 4px;

}
img{

    border-radius: 40px;
    border: 10px double
}

.header{
background-color: blue;
 margin: 0px;
}

.second{
    background-color: gold;
    margin-top: 0px;
    border: double 24px;
} 



.third{
    border: dotted;
}

h2{
    text-decoration: underline;
    border: dotted;

}
h3{
    text-decoration: underline;
    border: dotted;

}
h4{
    text-decoration: underline;
    border: dotted;

}
h5{
    text-decoration: underline;
    border: dotted;

}